In [8]:
import sys
from pathlib import Path

project_root = Path().resolve().parent
sys.path.append(str(project_root))

import pandas as pd
from utils.insurance_pipeline import build_X_y

In [9]:
X, y, df_clean = build_X_y("../data/insurance.csv", include_bmi_smoker=True)

In [10]:
X.head()

,age,bmi,children,smoker_flag,region_northwest,region_southeast,region_southwest,bmi_smoker
0,19,27.900,0,1,False,False,True,27.9
1,18,33.770,1,0,False,True,False,0.0
2,28,33.000,3,0,False,True,False,0.0
3,33,22.705,0,0,True,False,False,0.0
4,32,28.880,0,0,True,False,False,0.0

In [11]:
X.shape

(1337, 8)

## Feature Engineering Summary
- Target variable: log-transformed insurance charges
- Core predictors: age, BMI, number of children, smoking status
- Region encoded using one-hot encoding
- BMI Ã— smoker